In [2]:
import psycopg2
import numpy as np
from psycopg2.extensions import register_adapter, AsIs
psycopg2.extensions.register_adapter(np.int64, psycopg2._psycopg.AsIs)

In [3]:
import pandas as pd

In [35]:
df = pd.read_csv('HINDALCO.csv')
records = df.to_records(index = True)

In [10]:
conn = psycopg2.connect(
   database="postgres", user='postgres', password='Drij@5860', host='127.0.0.1', port= '5432'
)
conn.autocommit = True
cursor = conn.cursor()
sql = '''CREATE DATABASE stocks''';
cursor.execute(sql)
print("Database created successfully!")
conn.close()

Database created successfully!

In [42]:
conn = psycopg2.connect(
    database="stocks", user='postgres', password='Drij@5860', host='127.0.0.1', port= '5432'
)
conn.autocommit = True
cur = conn.cursor()
cur.execute('''CREATE TABLE StockData
               (Srno INT NOT NULL,
                Date DATE NOT NULL,
                close FLOAT NOT NULL,
                High FLOAT NOT NULL,
                Low FLOAT NOT NULL,
                open FLOAT NOT NULL,
                volume BIGINT NOT NULL,
                instrument VARCHAR(255) NOT NULL
                );''')
               
print("Table created successfully")
conn.close()

Table created successfully

In [44]:
conn = psycopg2.connect(
    database="stocks", user='postgres', password='Drij@5860', host='127.0.0.1', port= '5432'
)
conn.autocommit = True
cur = conn.cursor()
query = """INSERT INTO StockData (Srno ,Date, close, High, Low, open, volume, instrument)
            VALUES (%s, %s, %s, %s, %s, %s, %s, %s)"""
cur = conn.cursor()
cur.executemany(query, records)
conn.close()
print("Data Insert Successfully")

Data Insert Successfully

In [53]:
conn = psycopg2.connect(
    database="stocks", user='postgres', password='Drij@5860', host='127.0.0.1', port= '5432'
)
conn.autocommit = True
cur = conn.cursor()
cur.execute("SELECT * from StockData LIMIT 10")
rows = cur.fetchall()
for row in rows:
    print(row)

print("Query done successfully");
conn.close()

(datetime.date(2014, 1, 24), 114.0, 115.35, 113.0, 113.15, 5737135, 'HINDALCO')
(datetime.date(2014, 1, 27), 111.1, 112.7, 109.3, 112.0, 8724577, 'HINDALCO')
(datetime.date(2014, 1, 28), 113.8, 115.0, 109.75, 110.0, 4513345, 'HINDALCO')
(datetime.date(2014, 1, 29), 111.75, 114.75, 111.15, 114.5, 4713458, 'HINDALCO')
(datetime.date(2014, 1, 30), 108.1, 110.7, 107.6, 110.2, 5077231, 'HINDALCO')
(datetime.date(2014, 1, 31), 109.55, 110.0, 107.0, 109.05, 8287236, 'HINDALCO')
(datetime.date(2014, 2, 3), 103.45, 109.4, 103.0, 109.0, 5572627, 'HINDALCO')
(datetime.date(2014, 2, 4), 102.45, 103.45, 99.8, 102.0, 13935173, 'HINDALCO')
(datetime.date(2014, 2, 5), 104.25, 105.15, 101.0, 102.4, 9106760, 'HINDALCO')
(datetime.date(2014, 2, 6), 105.75, 106.5, 103.1, 104.65, 10194884, 'HINDALCO')
Query done successfully